{% extends 'base.html.twig' %}

{% block title %}New annonce{% endblock %}

{% block body %}
    <h1>Create new annonce</h1>

    {{ include('back/annonce/_form.html.twig') }}

    <a href="{{ path('back_annonce_list') }}">back to list</a>
{% endblock %}
